<div ng-controller="purchaseOrderController" ng-init="getPurchaseOrderHistory()" class="col-sm-12">
    <div class="card-body">
          <form class="form-inline">
                <div class="row">
                      <div class="col-sm-12">
                            <div class="form-group">
                                  <label for="search">Search</label>
                                  <input type="text" class="form-control" id="search" placeholder="Enter value to search" ng-model="search" required>
                            </div>
                      </div>
                </div>
          </form>
    </div>
    <div class="card">
          <div class="card-header">
                <i class="fa fa-align-justify"></i> List of Purchases
          </div>
          <div class="card-body">
                <table class="table table-striped">
                      <thead>
                            <tr>
                                  <th>Purchase ID</th>
                                  <th>Accountant Code</th>
                                  <th>Accountant Name</th>
                                  <th>Supplier Company</th>
                                  <th>Total Amount</th>
                                  <th>Prepared Date</th>
                                  <th>Expected Date</th>
                                  <th>Status</th>
                                  <th>Comments</th>
                            </tr>
                      </thead>
                      <tbody>
                            <tr dir-paginate="purchase in purchases|filter:search|itemsPerPage:10">
                              <td>{{purchase.purchaseId}}</td>
                              <td>{{purchase.preparedBy.employeeId}}</td>
                              <td>{{purchase.preparedBy.name}}</td>
                              <td>{{purchase.supplierNo.companyName}}</td>
                              <td>{{purchase.totalAmount}}</td>
                              <td>{{purchase.preparedDate}}</td>
                              <td>{{purchase.purchaseExpectedDate}}</td>
                              <td>{{purchase.status}}</td>
                              <td>{{purchase.comments}}</td>
                            </tr>
                      </tbody>
                </table>
                <ul class="pagination">
                      <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true">
                      </dir-pagination-controls>
                </ul>
          </div>
    </div>
</div>