<div class="row" ng-controller="siteDetailsCtrl">
      <div class="col-sm-12">
            <form>
                  <div class="card">
                        <div class="card-header">
                              <strong>Site Details</strong>
                              <small>Form</small>
                        </div>
                        <div class="card-body">
                              <div class="row">
                                    <div class="col-sm-12">
                                          <div class="form-group">
                                                <label for="siteNumber">Site Number</label>
                                                <input ng-model="site.siteNo" value="SIT" type="text" class="form-control" id="siteNumber" placeholder="Enter site number" required>
                                          </div>
                                    </div>
                              </div>
                              <!--/.row-->
                              <div class="row">
                                    <div class="col-sm-12">
                                          <div class="form-group">
                                                <label for="siteName">Site Name</label>
                                                <input type="text" ng-model="site.siteName" class="form-control" id="siteName" placeholder="Enter site name" required>
                                          </div>
                                    </div>
                              </div>
                              <!--/.row-->
                              <div class="row">
                                    <div class="col-sm-12">
                                          <div class="form-group">
                                                <label for="textarea-input">Site Address</label>
                                                <textarea ng-model="site.address" id="textarea-input" name="textarea-input" rows="5" class="form-control" placeholder="Enter the address" required></textarea>
                                          </div>
                                    </div>
                              </div>
                              <!--/.row-->
                        </div>
                        <div class="card-footer">
                              <button type="submit" class="btn btn-primary" ng-click="saveSite(site)">Submit</button>
                              <button type="reset" class="btn btn-danger">Reset</button>
                        </div>
                  </div>
            </form>
      </div>
</div>