<div class="card" ng-controller="DeapartmentUpdateController">
    <div class="card-header">
        <i></i>Update Department Name
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>{{department.departmentId}}</label>
                    <input type="text" ng-model="department.departmentName" class="form-control"
                           placeholder="Enter a new name">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="row department-update-buttonset">
                        <div class="col-sm-2">
                            <button type="button" ng-click="updateDepartment()" class="btn btn-primary">Update</button>
                        </div>
                        <div class="col-sm-2">
                            <button type="reset" class="btn btn-danger"> Reset</button>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" ng-click="redirectToView()" class="btn btn-primary">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
