<div ng-controller="SupplierHistoryController" class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i>List of PurchaseOrders
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Purchse Order Id</th>
                    <th>Requested Date</th>
                    <th>Prepared Date</th>
                    <th>Approved Date</th>
                    <th>Purchase Expected Date</th>
                    <th>Toatl Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-click="openModal(purchaseOrder)" dir-paginate="purchaseOrder in purchaseOrders|itemsPerPage:10">
                    <td>{{purchaseOrder.purchaseId}}</td>
                    <td>{{purchaseOrder.requestedDate}}</td>
                    <td>{{purchaseOrder.preparedDate}}</td>
                    <td>{{purchaseOrder.approvedDate}}</td>
                    <td>{{purchaseOrder.purchaseExpectedDate}}</td>
                    <td>{{purchaseOrder.totalAmount}}</td>
                    <td ng-if="purchaseOrder.status=='Placed'"><span class="badge badge-info">Placed</span></td>
                    <td ng-if="purchaseOrder.status=='Accepted'"><span class="badge badge-success">Accepted</span></td>
                    <td ng-if="purchaseOrder.status=='Pending'"><span class="badge badge-warning">Pending</span></td>
                    <td ng-if="purchaseOrder.status=='Declined'"><span class="badge badge-danger">Declined</span></td>
                </tr>
                </tbody>
            </table>
            <ul class="pagination">
                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
                </dir-pagination-controls>
            </ul>
        </div>
    </div>
</div>
