<div ng-controller="UserController" class="col-sm-12">

    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i>List of Employees
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>Employee Name</th>
                    <th>EMAIL</th>
                    <th>CONTACT NUMBER</th>
                    <th>NIC</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-click="openModal(user)" dir-paginate="user in users|filter:search|itemsPerPage:10">
                    <td>{{user.personId}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.contactNo}}</td>
                    <td>{{user.nic}}</td>
                    <span class="badge badge-success">Active</span>
                    </td>
                </tr>
                </tbody>
            </table>
            <ul class="pagination">
                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
                </dir-pagination-controls>
            </ul>
        </div>
    </div>
</div>
