<div class="row">
      <div class="col-sm-12">
            <form>
                  <div class="card">
                        <div class="card-header">
                              <strong>Add Item Details</strong>
                              <small>Form</small>
                        </div>
                        <div class="card-body">
                              <div class="row">
                                    <div class="col-sm-12">
                                          <div class="form-group">
                                                <label for="textarea-input">Select Supplier Id</label>
                                                <select id="supplierId" name="supplierId" class="form-control" size="1">
                                                      <option value="0">Please select</option>
                                                      <option value="1">SUP001</option>
                                                      <option value="2">SUP002</option>
                                                      <option value="3">SUP003</option>
                                                </select>
                                          </div>
                                    </div>
                              </div>
                              <!--/.row-->
                              <div class="row">
                                    <div class="col-sm-12">
                                          <div class="form-group">
                                                <label for="textarea-input">Select Item Id</label>
                                                <select id="itemId" name="itemId" class="form-control" size="1">
                                                      <option value="0">Please select</option>
                                                      <option value="1">ITM001</option>
                                                      <option value="2">ITM002</option>
                                                      <option value="3">ITM003</option>
                                                </select>
                                          </div>
                                    </div>
                              </div>
                              <!--/.row-->
                              <div class="row">
                                    <div class="col-sm-12">
                                          <div class="form-group">
                                                <label for="unitMeasurement">Unit of Measurement</label>
                                                <select id="itemId" name="itemId" class="form-control" size="1">
                                                      <option value="0">Please select</option>
                                                      <option value="1">Kg</option>
                                                      <option value="2">Container</option>
                                                      <option value="3">Nos.</option>
                                                      <option value="4">m</option>
                                                      <option value="5">Bag</option>
                                                </select>
                                          </div>
                                    </div>
                              </div>
                              <!--/.row-->
                              <div class="row">
                                    <div class="col-sm-12">
                                          <div class="form-group">
                                                <label for="unitPrice">Unit Price</label>
                                                <input type="text" class="form-control" id="unitPrice" placeholder="Enter Unit price" required>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <div class="card-footer">
                              <button type="submit" class="btn btn-primary">Submit</button>
                              <button type="reset" class="btn btn-danger"> Reset</button>
                        </div>
                  </div>
            </form>
      </div>
</div>