<div class="row">
      <div class="col-sm-12">
            <form>
                  <div class="card">
                        <div class="card-header">
                              <strong>Add Item Catalogue</strong>
                              <small>Form</small>
                        </div>
                        <div class="card-body">
                              <div class="row">
                                    <div class="col-sm-12">
                                          <div class="form-group">
                                                <label for="itemCatalogueId">Item Catalogue Number</label>
                                                <input type="text" class="form-control" id="itemCatalogueId" placeholder="Enter item catalogue id" required>
                                          </div>
                                    </div>
                              </div>
                              <!--/.row-->
                              <div class="row">
                                    <div class="col-sm-12">
                                          <div class="form-group">
                                                <label for="itemCatalogueName">Item Catalogue Name</label>
                                                <input type="text" class="form-control" id="itemCatalogueName" placeholder="Enter item catalogue name" required>
                                          </div>
                                    </div>
                              </div>
                              <!--/.row-->
                              <div class="row">
                                    <div class="col-sm-12">
                                          <div class="form-group">
                                                <label for="itemCatalogueDesc">Item Catalogue Description</label>
                                                <input type="text" class="form-control" id="itemCatalogueDesc" placeholder="Enter item catalogue description" required>
                                          </div>
                                    </div>
                              </div>
                              <!--/.row-->
                        </div>
                        <div class="card-footer">
                              <button type="submit" class="btn btn-primary">Submit</button>
                              <button type="reset" class="btn btn-danger"> Reset</button>
                        </div>
                  </div>
            </form>
      </div>
</div>