<div class="col-sm-12">
        <div class="card-body">
              <form class="form-inline">
                    <div class="row">
                          <div class="col-sm-12">
                                <div class="form-group">
                                      <label for="search">Search</label>
                                      <input type="text" class="form-control" id="search" placeholder="Enter value to search" ng-model="search" required>
                                </div>
                          </div>
                    </div>
              </form>
        </div>
        <div class="card">
              <div class="card-header">
                    <i class="fa fa-align-justify"></i> List of Quotations
              </div>
              <div class="card-body">
                    <table class="table table-striped">
                          <thead>
                                <tr>
                                      <th>Purchase ID</th>
                                      <th>Requisition ID</th>
                                      <th>Supplier ID</th>
                                      <th>Total Amount</th>
                                      <th>Prepared By</th>
                                      <th>Prepared Date</th>
                                      <th>Status</th>
                                      <th>Comments</th>
                                </tr>
                          </thead>
                          <tbody>
                                <tr dir-paginate="filter:search|itemsPerPage:1">
                                      <td>PUR001</td>
                                      <td>REQ001</td>
                                      <td>SUP001</td>
                                      <td>23650.00</td>
                                      <td>EMP001</td>
                                      <td>2017-11-28</td>
                                      <td>Placed</td>
                                      <td>Urgent</td>
                                </tr>
    
                                <tr dir-paginate="filter:search|itemsPerPage:1">
                                        <td>PUR002</td>
                                        <td>REQ001</td>
                                        <td>SUP002</td>
                                        <td>27480.00</td>
                                        <td>EMP001</td>
                                        <td>2017-11-28</td>
                                        <td>Placed</td>
                                        <td>Urgent</td>
                                  </tr>
                          </tbody>
                    </table>
                    <ul class="pagination">
                          <dir-pagination-controls max-size="1" direction-links="true" boundary-links="true">
                          </dir-pagination-controls>
                    </ul>
              </div>
        </div>
    </div>